<div class="album-card">

  <div class="album-img">
    {{ content.field_imagen }}
  </div>

  <div class="album-title">
    {{ label }}
  </div>

  <div class="album-artist">
    {{ content.field_artista_ref }}
  </div>

</div>
