<div class="playlist-card">

  <div class="playlist-img">
    {{ content.field_image }}
  </div>

  <div class="playlist-info">
    <h3>{{ label }}</h3>
    <div class="playlist-desc">
      {{ content.body }}
    </div>
  </div>

</div>
